<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP" />
	<title>季節を楽しむようにヘラクレスを…</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="Content-Language" content="ja" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link href="css/import.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/share.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/index.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="js/default.js"></script>
</head>	<body>
	<div id="wrapper">
		<h1>フロアコーティングのやり方サイト</h1>
<!--		
		<ul id="gNavi" class="clearfix">
			<li class="firstItem"><a href="index.html" title="">MENU 1</a></li>
			<li><a href="sample.html" title="">MENU 2</a></li>
			<li><a href="sample.html" title="">MENU 3</a></li>
			<li><a href="sample.html" title="">MENU 4</a></li>
			<li><a href="sample.html" title="">MENU 5</a></li>
			<li><a href="sample.html" title="">MENU 6</a></li>
			<li><a href="sample.html" title="">MENU 7</a></li>
			<li><a href="sample.html" title="">MENU 8</a></li>
		</ul>
-->		
			<p id="mainImg"><a href="/"><img src="images/mainimg.jpg" alt="サンプル画像" /></a></p>
			<div id="mainContents" class="clearfix">
				<div id="leftContents">
					<div id="topicsBox">
				 	<strong>コラム：季節を楽しむようにヘラクレスを…</strong>
<p>8月が終わる頃には秋の季節がやってきます。<br><br>秋といえば紅葉ですね(・∀・)数々の紅葉スポットがあり、絶景を見ることができるでしょう。<br><br>
しかし、秋は紅葉だけではありません！　読書の秋・食欲の秋など楽しいことが待っている季節でもあります。<br><br>
個人的には、食欲の秋が一番良いですね。<br><br>美味しいものを美味しい時期に食べる、これほど嬉しいことはないでしょう。<br><br>
というわけで今回は、「食欲の秋」をテーマに書きたいと思います。<br><br>
秋の食べごろは、一般的に「秋刀魚」「栗」「南瓜」などが出てきます。<br><br>地方によっては、都会にはない珍しい食べ物があるかもしれません。<br><br>
例えば……
?沖縄の場合、クワンソウ(ニラみたいな形・眠れない夜に食べたり飲んだりする)・シークヮーサーが旬の食べ物
?鹿児島の場合、月日貝(甘味があり、刺身・姿焼きが美味しい)・種子島ゴールド(外見は白く・中身は紫という珍しい芋)　
など、まだまだ各地域に行けば見つかるかもしれないので、旅行に行ってみてはどうでしょうか？
<p>					
					
				 </div>

				 <div id="aboutBox">

				 	<strong class="contract">その他ぷちコラム</strong>				 


<p>日本は春夏秋冬の季節があり、同じところに行っても季節によってまったく景色が変わるのが面白いですね。<a href="http://www.mushiyahonpo.com/">ヘラクレス</a>も季節によって甲殻が変化して見ていて飽きません。</p>

<p></p>

<p></p>

<p></p>

<p></p>				 

				</div>				
			</div>

			<div id="tweet">
				<strong>他のコラム</strong>
   
<dl>
<p><a href="/ credit-master_443/">クレジットカードを制すれば…</a></p><p><a href="/taxy-unten_433/">タクシー運転手になったわけ</a></p><p><a href="/good-toryou_423/">断熱塗料のいいところ</a></p><p><a href="/lonlon_413/">不動産担保ローンとは？</a></p>					
</dl>


			</div>
		</div>
		<div id="footer">
			<p id="copyright">Copyright (c) フロアコーティングのやり方サイト All Rights Reserved.</p>
		</div>	</div>

</body>
</html>