<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>日本は輸出の国だということ忘れないように</title>
<meta name="keywords" content="FX" />
<meta name="description" content="ここでは日本は輸出の国についてご案内しています。" />
<link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>

<body>
<div id="container">

<h1>日本は輸出の国だということ忘れないように</h1>
<div id="header">
</div>
<div id="contents">
<div id="main">
<div id="siteNavi"><a href="./">トップページ</a> ＞ 日本は輸出の国だということ忘れないように</div><div id="text1">

<p>日本という国は島国であり、ある意味で輸出の国とも言われています。<br />輸出企業が外国で商品を売った場合、手にする通貨は現地通貨になります。日本はご存知の通り、鉱物資等の天然資源に乏しい国なのです。<br />その為、原材料や半製品を輸入し、それを加工してできた製品を輸出する加工貿易で経済発展を遂げてきた国なのです。</p>
<p>&nbsp;</p>
<p>現地通貨を日本円に戻す時には、円高の場合には手取りが少なくなってしまうということは理解をすることが出来るでしょう。<br />そして基本的には円高は不況につながりやすいというデータが出ています。</p>

						<div class="aditem">
				<a href="http://www.tsubasa-c.jp/" target="_blank">不動産担保ローンへ</a><br>http://www.tsubasa-c.jp/<br>不動産担保ローン<br><br>
				</div>

						<div class="aditem">
				<a href="http://taxy-page.com/" target="_blank">タクシー 転職はここへ</a><br>http://taxy-page.com/<br>タクシー 転職<br><br>
				</div>

</div>
</div>
<div id="menu">
<h4>メニュー</h4>
<div class="menubox"><ul id="menu1">
<li><a href="./shikin.html">FXで勝つためには資産に余裕を持つこと</a></li>
<li><a href="./songiri.html">大きな負けを防ぐためにも損切り</a></li>
<li><a href="./keiki.html">景気がよくなると通貨が上昇する</a></li>
<li><a href="./nihon.html">日本は輸出の国だということ忘れないように</a></li>
<li><a href="./kijun.html">FX会社は厳しい基準が定められています</a></li>
<li><a href="./bunseki.html">4つの相場を読んでテクニカル分析</a></li>
<li><a href="./shintakuhozen.html">信託保全が100％保護されているか？</a></li>
<li><a href="./kinritakai.html">金利が高いからといっても儲かるとは限らない</a></li>
<li><a href="./make.html">貴方はFXで負けが続いていませんか？</a></li>
<li><a href="./gyakubari.html">逆張りは初心者によくある落とし穴</a></li>
</ul></div></div>

<br class="FloatEnd" />
</div>
<div id="footlink"><a href="./sitemap.html">サイトマップ</a></div>

<div id="footer">Copyright (C) 2012 <a href="./">有利に進めるFXガイド</a> All Rights Reserved.</div>

<div id="searchbox"><form name="search" id="search" method="get" action="./search.php">
サイト内検索:<input type="text" name="keyword" size="20" value="" /><input type="image" src="images/searchbutton.jpg" alt="検索" value="検索" />
</form></div>

</div>
</body>
</html>