<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja-JP">
<head>
<title>生活雑貨.com</title>
<meta name="description" content="ペットのこと、生活雑貨のこと…日々の生活でオススメだと思ったことを書いています。" />
<meta name="keywords" content="" />
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-script-Type" content="text/javascript">
<link rel="stylesheet" href="css/index.css" type="text/css" media="all">
</head>
<body>
<h1><a href="/">生活雑貨.comについて　</a></h1>
<div id="main">
<div class="top"><img src="images/d.gif" width="1" height="1" alt=""></div>
<div id="inbox">
<div class="box">

<!--mainの中の部分に本文を入れます。-->
<h2>生活雑貨.com</h2>
<p></p>


<h2>生活雑貨.comの最新記事</h2>
			<dt>2014-02-19</dt><a href=cosmetic>生活雑貨.com｜ラビットファーのコート</a><dt>2014-02-17</dt><a href=live>生活雑貨.com｜部屋の脱臭は必須です！</a><dt>2014-02-17</dt><a href=live>生活雑貨.com｜夏休みはヘラクレス！</a>



<h2>2014-02-20-アクセサリー通販ならについて</h2>
<p>みなさんは、洋服の直しに行ったことありますか？よくわからないという方に・・・・例えば：スーツのサイズを9号から11号にする・ワンピースが鞄になる　などのことです。<br><br>不要になった子ども服・着なくなった服がタンスに入っていたら、新しい服がタンスからあふれてしまいます。<br><br>そこで、不要な洋服を・・・ネクタイ/エプロン/鞄などにすると思い出があるものでも、別のものにすると邪魔にならずに再び大事に保存ができます。<br><br>思い出を大事に取っておけるので、是非ご利用してみてはどうでしょうか。<br><br><br />
</p>


<!--ここまで本文。-->
</div>
</div>
<div class="bottom"><img src="images/d.gif" width="1" height="1" alt=""></div>
</div>

<!--ここはコンテンツの部分です。-->
<div id="navi">
<div id="navi_in">
<div id="home"><a href="http://pet-road.net">HOME</a></div>
<div id="gallery"><a href="http://pet-road.net/live/">生活雑貨.comの生活術</a></div>
<div id="bbs"><a href="http://pet-road.net/cosmetic/">生活雑貨.com流の美容</a></div>
<div id="diary"><a href="diary.html"><a href="http://pet-road.net/collect/">生活雑貨.com流のリサイクル</a></div>
<div id="profile"><a href="http://pet-road.net/sitemap.html">SITEMAP</a></div>
</div>
</div>
<!--ここまでコンテンツの部分です。-->
		


</body>
</html>




