<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=euc-jp" />
<title>オフィスのお洒落いちらーん★｜ビューティーコラム.com</title>
<meta name="keywords" content="会社設立,ポスター印刷,脱臭,求人" />
<meta name="description" content="オフィスのお洒落いちらーん★｜当サイトは綺麗になりたい女の子のためのビューティ総合サイトです。" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<!-- 外部CSS読み込み -->
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<!-- /ここまで -->
<script type="text/javascript" src="js/default.js"></script>
</head>
<body>
	<div id="wrap">
		<!-- ヘッダー -->
		<div id="head">
			<h1>ビューティーコラム.com</h1>
			<p id="logo"><a href="/">オフィスのお洒落いちらーん★</a></p>
		</div>
		<div id="contents">		

<div id="left_menu">
<ul>
<li><a href="/193.php">豊胸手術をうける覚悟</a></li><li><a href="/187.php">結婚が人生のすべてじゃない…</a></li><li><a href="/182.php">どんなコンタクトにしようか</a></li><li><a href="/181.php">男性もキレイになりたい</a></li><li><a href="/180.php">永遠に美容を追いかけたい</a></li>  </ul>
</div>
   			
			<!-- コンテンツ -->
			<div id="main">
				<div id="top">

							<p>オフィスは、洋服だけでなくサンダルもおしゃれにする方もいます。</br></br>
サンダルといっても、今人気の美脚に見える「クロスサンダル」やキラキラしていて可愛い「ビーチサンダル」ではありません。</br></br>
オフィスに履いていくようなサンダルは、そんなに踵【かかと】が高くない・ワンポイントの部分が大人ぽく・美脚に見えたり足が長く見えたりする　
といった感じで足が疲れにくく、防臭の役目も果たしてくれる優れたサンダルです(´∀｀)
ここで今オススメのオフィスサンダルを紹介します！
1位・・・・つま先・踵【かかと】がないので、脱ぎ履きが楽で大人ぽいデザインの「ストラップサンダル」
2位・・・・赤・黒・茶の3色があり、ワンポイントのリボンが可愛い「美脚サンダル」
3位・・・・消臭・抗菌・美脚の3つが手にはいる「美脚サンダル」　
私も、いつかオフィスサンダルを履く日が来るのだろうか(・ω・)</p>


					<!-- フリースペース -->
					<h3>美容の豆知識★</h3>
					<div class="obj">
						<p><br><br><br><br><a href="http://www.tokusyu99.com/">たばこの脱臭</a>で綺麗なオフィスを保ちましょう！ <br><br><a href="http://host-pro.jp/">ホストクラブの求人</a>見てプロホストを目指しませんか？<br><br><br><br></p>
					</div>
				</div>
			</div>
			<!-- /コンテンツ -->
		</div>
		<div id="foot">
			<p>copyright (c)<script type="text/javascript">document.write(new Date().getFullYear())</script> <a href="/">ビューティーコラム.com</a> All rights reserved.</p>
		</div>

	</div>
</body>
</html>